<nb-card>
    <nb-card-header>Bootstrap Buttons</nb-card-header>
    <nb-card-body>
        <div class="example-button-row">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-secondary disabled">Disabled</button>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>Nebular Buttons</nb-card-header>
    <nb-card-body>
        <div class="example-button-row">
            <button nbButton outline status="primary">Primary</button>
            <button nbButton outline status="success">Success</button>
            <button nbButton outline status="info" disabled>Info</button>
            <button nbButton outline status="warning">Warning</button>
            <button nbButton outline status="danger">Danger</button>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>Material Buttons</nb-card-header>
    <nb-card-body>
        <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
        </div>
    </nb-card-body>
</nb-card>
